[Unit]
Description=The lipstick UI
Requires=dbus.socket pre-user-session.target
After=pre-user-session.target
 
[Service]
Type=notify
EnvironmentFile=-/var/lib/environment/compositor/*.conf
EnvironmentFile=-/usr/share/lipstick-glacier-home-qt5/nemovars.conf
ExecStart=/usr/bin/lipstick $LIPSTICK_OPTIONS --systemd
Restart=always
 
[Install]
WantedBy=user-session.target
